[Desktop Entry]
Type=Application
Name=Yazi
Comment=Blazing fast terminal file manager
Exec=kitty -e yazi %u
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=x-scheme-handler/inode;inode/directory;
